@model TeamServicesTools.Web.Models.VariableGroups.CloneModel

@{
    ViewBag.Title = $"Clone {ViewBag.ProjectName} Variable Groups";
}

<style type="text/css">
    input[type=text] {
        max-width: inherit;
    }
</style>

<h2>@ViewBag.Title</h2>

@Html.ActionLink($"{Model.ProjectName} Variable Groups", "Index", "VariableGroups", new { Model.ProjectGuid, Model.ProjectName }, null)

<br />
<br />

<form id="export-form" action="@Url.Action("Clone")" method="post">
    <input type="hidden" name="SourceProjectGuid" value="@Model.ProjectGuid" />

    <div class="form-group">
        <label class="control-label col-md-2">Target Project</label>
        <div class="col-md-10">
            @Html.DropDownList("TargetProjectGuid", Model.Projects, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th style="width: 45%;">Existing Name</th>
                <th>New Group Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.TextBox($"groupName_{item.Id}", item.Name, new { @class = "form-control" })
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
