@using System.Web.Mvc.Html
@using TeamServicesTools.Web.Models.VariableGroups
@model CompareModel

@{
    ViewBag.Title = "Compare Variable Groups";
}

<style type="text/css">

    table.results td {
        max-width: 50vw;
        text-overflow: clip;
        word-break: break-all;
    }

    .value {
        font-family: monospace;
        font-size: smaller;
    }

    .inline {
        display: inline-block;
    }

    .State {
        color: #999999;
        font-weight: normal;
    }

</style>

<script type="text/javascript">

    function filter(li, state) {

        $('.nav-pills li').removeClass('active');
        $(li).addClass('active');

        if (state === 'All') {
            $('.Result').show();
        } else {
            $('.Result').hide();
            $('.Result.' + state).show();
        }
    }

</script>

<h2>@ViewBag.Title</h2>

@Html.ActionLink($"{ViewBag.ProjectName} Projects", "Index", "Projects", new { }, null)

<br />
<br />



@using (Html.BeginForm("Compare", "VariableGroups", FormMethod.Get))
{

    <h4>Group 1</h4>

    <div class="form-group">
        <label class="control-label col-md-2">Project</label>
        <div class="col-md-10">
            @Html.DropDownList("Project1Guid", Model.Group1Projects, new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>

    if (Model.Project1Groups != null)
    {
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Group</label>
            <div class="col-md-10">
                @Html.DropDownList("Group1Id", Model.Project1Groups, new { @class = "form-control", onchange = "this.form.submit()" })
            </div>
        </div>
    }

    <br />
    <br />

    <h4>Group 2</h4>

    <div class="form-group">
        <label class="control-label col-md-2">Project</label>
        <div class="col-md-10">
            @Html.DropDownList("Project2Guid", Model.Group2Projects, new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>

    if (Model.Project2Groups != null)
    {
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Group</label>
            <div class="col-md-10">
                @Html.DropDownList("Group2Id", Model.Project2Groups, new { @class = "form-control", onchange = "this.form.submit()" })
            </div>
        </div>
    }

}


@if (Model.Results != null)
{

    <br />

    <h3>Results</h3>

    <ul class="nav nav-pills">
        <li onclick="filter(this, 'All')"><a href="javascript:void(0)">All (@(Model.Results.Count))</a></li>

        @foreach (int state in Enum.GetValues(typeof(ComparisonState)))
        {
            var count = Model.Results.Count(c => (int)c.State == state);
            var name = Enum.GetName(typeof(ComparisonState), state);
            if (count > 0)
            {
                <li onclick="filter(this, '@(name)')"><a href="javascript:void(0)">@(name) (@count)</a></li>
            }
        }

    </ul>

    <br />

    <table class="table results">

        @foreach (var item in Model.Results)
        {
            var cssClass = "";
            switch (item.State)
            {
                case ComparisonState.Same:
                    cssClass = "alert-success";
                    break;
                case ComparisonState.Different:
                    cssClass = "alert-warning";
                    break;
                case ComparisonState.Group1Only:
                    cssClass = "alert-danger";
                    break;
                case ComparisonState.Group2Only:
                    cssClass = "alert-danger";
                    break;
                default:
                    break;
            }

            <tr class="Result @item.State.ToString()">
                <th>@item.Key</th>
                <th class="State">@item.State</th>
            </tr>
            <tr class="Result @item.State.ToString()">
                <td class="@cssClass value">@item.Group1Value</td>
                <td class="@cssClass value">@item.Group2Value</td>
            </tr>
        }

    </table>
}

<br />
<br />

<script type="text/javascript">

    $('.nav-pills li:first-child').addClass('active');

</script>