@model TeamServicesTools.Web.Models.ReleaseDefinitions.CloneModel

@{
    ViewBag.Title = $"Clone {ViewBag.ProjectName} Release Definitions";
}

<style type="text/css">
    input[type=text] {
        max-width: inherit;
    }
</style>

<h2>@ViewBag.Title</h2>

@Html.ActionLink($"{Model.ProjectName} Release Definitions", "Index", "ReleaseDefinitions", new { Model.ProjectGuid, Model.ProjectName }, null)

<br />
<br />

<form id="clone-form" action="@Url.Action("Clone")" method="post">
    <input type="hidden" name="SourceProjectGuid" value="@Model.ProjectGuid" />
    <input type="hidden" name="ProjectGuid" value="@Model.ProjectGuid" />
    <input type="hidden" name="DefinitionIdList" value="@Model.DefinitionIdList" />

    <div class="form-group">
        <label class="control-label col-md-2">Target Project</label>
        <div class="col-md-10">
            @Html.DropDownList("TargetProjectGuid", Model.Projects, new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>

    <br /><br />

    <div class="form-group">
        <label class="control-label col-md-2">Target Folder</label>
        <div class="col-md-10">
            @Html.DropDownList("TargetFolderPath", Model.Folders, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th style="width: 45%;">Existing Name</th>
                <th>New Definition Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Definitions)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.TextBox($"definitionName_{item.Id}", item.Name, new { @class = "form-control" })
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
