@using TeamServicesTools.Web.Services
@model IEnumerable<Microsoft.TeamFoundation.Core.WebApi.TeamProjectReference>

<style type="text/css">

    table.expanded td {
        padding: 25px !important;
    }

</style>

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<br />
<br />

<table class="table expanded">
    <tr>
        <th style="width: 40%;">Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="@Url.Action("Project", "Projects", new {ProjectGuid = item.Id})"><i class="ms-Icon ms-Icon--ProjectCollection" aria-hidden="true"></i>&nbsp;@item.Name</a>
        </td>
        <td>
            <a href="@Url.Action("Index", "BuildDefinitions", new {ProjectGuid = item.Id, ProjectName = item.Name})"><i class="ms-Icon ms-Icon--Build" aria-hidden="true"></i>&nbsp;Builds</a>
            &nbsp;|&nbsp;
            <a href="@Url.Action("Index", "ReleaseDefinitions", new {ProjectGuid = item.Id, ProjectName = item.Name})"><i class="ms-Icon ms-Icon--Rocket" aria-hidden="true"></i>&nbsp;Releases</a>
            &nbsp;|&nbsp;
            <a href="@Url.Action("Index", "TaskGroups", new {ProjectGuid = item.Id, ProjectName = item.Name})"><i class="ms-Icon ms-Icon--TaskGroup" aria-hidden="true"></i>&nbsp;Task Groups</a>
            &nbsp;|&nbsp;
            <a href="@Url.Action("Index", "VariableGroups", new {ProjectGuid = item.Id, ProjectName = item.Name})"><i class="ms-Icon ms-Icon--Library" aria-hidden="true"></i>&nbsp;Variable Groups</a>
            &nbsp;|&nbsp;
            <a href="@(SettingsService.GetBaseUrl())@(item.Name)" target="_blank"><i class="ms-Icon ms-Icon--OpenInNewWindow" aria-hidden="true"></i>&nbsp;View in VSTS</a>
        </td>
    </tr>
    }

</table>
