@model IEnumerable<Microsoft.TeamFoundation.Core.WebApi.TeamProjectReference>

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<br />
<br />

<table class="table">
    <tr>
        <th style="width: 65%;">Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Project", new { ProjectGuid = item.Id })
        </td>
        <td>
            @Html.ActionLink("Task Groups", "Index", "TaskGroups", new { ProjectGuid = item.Id, ProjectName = item.Name }, null)
            &nbsp;|&nbsp;
            @Html.ActionLink("Variable Groups", "Index", "VariableGroups", new { ProjectGuid = item.Id, ProjectName = item.Name }, null)
            &nbsp;|&nbsp;
            <a href="@item.Url" target="_blank">View in VSTS</a>
        </td>
    </tr>
    }

</table>
