@model Microsoft.TeamFoundation.Core.WebApi.TeamProjectReference

@{
    ViewBag.Title = $"{Model.Name} Project";
}

<h2>@ViewBag.Title</h2>

<div>@Model.Description</div>

<br />
<br />

<ul>
    <li>@Html.ActionLink("Task Groups", "Index", "TaskGroups", new { projectGuid = Model.Id, projectName = Model.Name }, null)</li>
    <li>@Html.ActionLink("Variable Groups", "Index", "VariableGroups", new { projectGuid = Model.Id, projectName = Model.Name }, null)</li>
    <li><a href="@Model.Url" target="_blank">View in VSTS</a></li>
</ul>
